LOG_LEVEL=[INFO|DEBUG] : The log level for the API

API_PORT=int : The port for the API to run on
API_PREFIX=str : Prefix of api url (if proxy with prefix path is used)
API_SECRET=str : Secret that must be present in headers to authorize requests